img {
    width: 100%;
}
.hero-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.data-box {
    width: 100%;
    background-color: bisque;
    height: 100%;
}
#hero {
    display: flex;
}
#close {
    display: none;
}
